---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: simpleweb-operator
  namespace: default

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: simpleweb-operator-role
rules:
  - apiGroups:
      - ops.example.com
    resources:
      - simplewebs
    verbs:
      - get
      - list
      - watch
      - patch
      - update

  - apiGroups:
      - ops.example.com
    resources:
      - simplewebs/status
    verbs:
      - get
      - patch
      - update

  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch

  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: simpleweb-operator-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: simpleweb-operator-role
subjects:
  - kind: ServiceAccount
    name: simpleweb-operator
    namespace: default
